
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eef;
  background: linear-gradient(to right, #fff, #ccc, #808080, #454549, #0c0c0cc7);
  font-family: 'Kumbh Sans', sans-serif;

}
